html {
    background-color: #BFCFFE;    
}

body {
    margin-top: 20px;
	margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    margin: 0 auto;
    width: 1300px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #001963;
    min-height: 140vh;
}

.header-text{
    padding-top: 5px;
	float: left;
    width: 1300px;
}

.left-header{
    float:left;
    width: 300px;
    text-align: left;
    padding-top: 5px;
}

.left-header button{
    text-decoration: none;
    background-color: lightblue;
    width: 180px;
    height: 50px;
    color: black;
    border: 1px solid #001963;
}

.left-header button:hover{
    text-decoration: none;
    background-color: #BFCFFE;
    color: white;
}

.create-new-snippet-header{
    float:right;
    width: 500px;
    text-align: right;
    padding-top: 5px;
}

.create-new-snippet-header button{
    text-decoration: none;
    background-color: #3498DB;
    width: 180px;
    height: 50px;
    color: white;
	font-size: 16px;
    border: 1px solid #001963;
}

.create-new-snippet-header button:hover{
    text-decoration: none;
    background-color: #BFCFFE;
    color: white;
}

.clearfix{
    overflow: auto;
}

.content{
    float: left;
    width: 1300px;
}

.content-code-snippet{
    float: left;
    width: 685px;
    margin-top: 5px;
}

.left-content-area{
    border: 1px solid #001963;  
    height: 400px;
}

.left-content-area textarea {
    resize: none;
    width: 97%;
    height: 95%;
    margin: 1%;  
    text-align: justify;  
    font-size: 15px;
    padding: 2px;
	overflow: scroll;
}

.content-comments{
    float: left;
    width: 370px;
    margin-left: 20px;
}

.middle-content-area{
    height: 250px;
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid #001963;  
}

.content-comments textarea {
    resize: none;
    width: 94%;
    height:95%;
    margin: 2%;  
    text-align: justify;  
    font-size: 15px;
    padding: 2px;
}

.content-snippet-info{
    float: right;
    width: 200px;
    margin-top: 5px;
}

.snippet-info-content-area{
    border: 1px solid #001963;  
    height: 200px;
}

.snippet-id-content-area{
    border: 1px solid #001963;
    height: 50px;	
}

.snippet-id-content {
    padding-top: 5px;
    text-align: center;
}

.snippet-id-content button{
    width: 120px;
    height: 50px;
    background-color: lightblue;
    color: black;
    border: 1px solid #001963;
    margin-bottom: 5px;
}

.snippet-id-content button:hover{
    text-decoration: none;
    background-color: #BFCFFE;
    color: white;
}

.comment-id-content {
	margin-top: 20px
    padding-top: 5px;
    text-align: center;
}

.comment-id-content button{
    width: 110px;
    height: 50px;
    background-color: lightblue;
    color: black;
    border: 1px solid #001963;    
}

.comment-id-content button:hover{
    text-decoration: none;
    background-color: #BFCFFE;
    color: white;
}

.snippet-info-content-area textarea {
    resize: none;
    width: 94%;
    height: 91%;
    margin: 2%;  
    text-align: justify;  
    font-size: 15px;
    padding: 2px;
}

.snippet-id-content-area textarea {
	resize: none;
    width: 94%;
    height: 68%;
    margin: 2%;  
    text-align: justify;  
    font-size: 15px;
    padding: 2px;
}

.content h1{
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    text-align: center;
}

.content-list-of-snippets{
    float: left;
    width: 480px;
    margin-left: 10px;
}

.list-of-snippets-content-area{
    height: 500px;
    margin-top: 5px;
    border: 1px solid #001963;  
    overflow: scroll;
}

.list-of-snippets-content-area button{
 display: block;
 margin: 10px auto;
 width: 95%;
 height: 50px;
}

.content-list-of-comments{
    float: center;
    width: 370px;
    margin-left: 10px;
}

.list-of-comments-content-area{
    height: 370px;
    margin-top: 5px;
    border: 1px solid #001963;  
    overflow: scroll;
}

.list-of-comments-content-area button{
 display: block;
 margin: 10px auto;
 width: 95%;
 height: 50px;
}
