html {
    background-color: #BFCFFE;    
}

body {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    margin: 0 auto;
    width: 1000px;
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #001963;
    min-height: 100vh;
}

.clearfix{
    overflow: auto;
}
.content{
    float: left;
    width: 1000px;
}

.content-left{
    float: left;
    width: 250px;
    margin-top: 5px;
}
.left-content-area{
    border: 2px solid #001963;  
    height: 200px;
}

.left-content-area textarea {
    resize: none;
    width: 95%;
    height: 95%;
    margin: 2%;  
    text-align: justify;  
    font-size: 15px;
    padding: 2px;
}

.content-middle{
    float: left;
    width: 480px;
    margin-left: 10px;
}

.middle-content-area{
    height: 400px;
    margin-top: 5px;
    border: 2px solid #001963;  
    overflow: scroll;
}

.content-right{
    float: right;
    width: 250px;
    margin-top: 5px;
}
.right-content-area{
    border: 2px solid #001963;  
    height: 200px;
}
.bottom-content {
    padding-top: 5px;
    text-align: center;
}
.bottom-content button{
    width: 120px;
    height: 30px;
    background-color: lightblue;
    color: black;
    border: 1px solid #001963;
    margin-bottom: 5px;
}

.bottom-content button:hover{
    text-decoration: none;
    background-color: #BFCFFE;
    color: white;
}

.right-content-area textarea {
    resize: none;
    width: 94%;
    height: 91%;
    margin: 2%;  
    text-align: justify;  
    font-size: 15px;
    padding: 2px;
}
.content h1{
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    text-align: center;
}

.middle-content-area button{
 display: block;
 margin: 10px auto;
 width: 95%;
 height: 50px;
}